/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .bar-icon{
        display: block;
    }
    nav {
        padding: 40px 20px;
    }
    nav ul{
        display: none;
    }
    .common-template{
        grid-template-columns: 1fr;
    }
    .common-content h1{
        font-size: 36px;
    }
    #hero {
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 50px;
    }
    #players-profile{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        padding: 50px 20px;
    }
    #world-cup{
        padding-bottom: 30px;
        padding-right: 20px;
        padding-left: 20px;
    }
    #world-cup.common-template {
        row-gap: 30px;
    }
    #world-cup .common-content .btn {
        margin-top: 30px;
    }
    footer img {
        width: 70%;
    }  
    #upcoming-match {
        padding: 0 20px;
    }  
    .match-title h2 {
        text-align: center;
    }
    .match-vs {
        display: block;
    }
    .clubs-container {
        padding: 20px 20px;
        margin: 0 20px;
    }
    .clubs-title h1 {
        margin-bottom: 20px;
    }
    .clubs-logo {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
 }

/* // Medium devices (tablets, 992px and up) */
@media (min-width: 576px) and (max-width: 992px) { 
    #players-profile{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        padding: 50px 20px;
    }
    .common-template{
        grid-template-columns: 1fr;
    }


}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { ... }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { ... }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    
    .bar-icon{
        display: none;
    }
    nav ul{
        display: flex;
    }
    .common-template{
        grid-template-columns: 1fr 1fr;
    }
    
 }